

@model IEnumerable<SklepInternetowyAK.Models.Film>
@using SklepInternetowyAK.Infrastructure
@{
    ViewBag.Title = "Index";

}
<br>
<h2 style="text-align: center">Najdłuższe filmy</h2>
<br>
<table style=" text-align: center">
    <tr>
        @foreach (var film in Model)
        {
            <td><a href="@Url.Action("Details", "Films", new { id = film.FilmId})"><img style="max-width: 200px; max-height: 300px" src="@Url.PostersPath(film.PosterName)" /></a></td>
        }
    </tr>
</table>