body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table {
    width: 100%;
    font-size: 50px;
    text-align: center;
}

fieldset {
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 8px double orange;
    color: rgb(70, 39, 1);
}

legend {
    font-size: 25px;
    font-family: Comic Sans MS;
    color: rgb(70, 39, 1);
}

label {
    margin: 10px;
}

input {
    padding: 10px;
    margin: 10px;
}

#buttonLogin {
    color: rgb(70, 39, 1);
    background-color: white;
    display: block;
    margin: 1.0em auto;
    width: 150px;
    text-align: center;
}